<!-- <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
             (signInFailure)="errorCallback($event)"
             (uiShown)="uiShownCallback()"></firebase-ui>
<button (click)="logout()">Logout</button>
<button [routerLink]="['/character']">To second page</button> -->

<div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
