@import 'vars';

mat-toolbar {
  height: 60px;
}
.example-spacer {
  flex: 1 1 auto;
}


.sidenav-container {
  width: 100%;
  height: calc(100vh - 60px);
}

.sidenav {
  padding: 20px;
  width: auto;
  background: $background;
}

.logout {
  margin-top: 10px;
}
