node_modules
Pathfinder1eCharacterSheet/src/environments/environment.ts
Pathfinder1eCharacterSheet/src/environments/environment.prod.ts
Pathfinder1eCharacterSheet/.firebase/hosting.ZGlzdFxQYXRoZmluZGVyMWVDaGFyYWN0ZXJTaGVldA.cache
